################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularDemo/.vs
/AngularDemo/AngularDemo/bin
/AngularDemo/packages
